{%set color_theme = config.get("COLOR_THEME", "is-primary") %}
{% macro render_cliente_modal(cliente) %}
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Cliente</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>{{ cliente.name.title() }}</td>
                    </tr>
                 
                    <tr>
                        <th>Email</th>
                        <td>{{ cliente.email }}</td>
                    </tr>
                    <tr>
                        <th>Celular</th>
                        <td>{{ cliente.cel }}</td>
                    </tr>
                    <tr>
                        <th>Telefone</th>
                        <td>{{ cliente.phone }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <a href={{ url_for('site.clientes', register=cliente.id )}} class="button {{ color_theme }}">Editar</a>
        </footer>
    </div>
</div>
{% endmacro %}

{% macro render_financeiro_modal(financeiro) %}
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Financeiro</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nome</th>
                        <td>{{ financeiro.name.title() }}</td>
                    </tr>
                    <tr>
                        <th>Administração</th>
                        <td>{{ financeiro.adm_name }}</td>
                    </tr>
                    <tr>
                        <th>Adm. Email</th>
                        <td>{{ financeiro.adm_email }}</td>
                    </tr>
                    <tr>
                        <th>Adm. Celular</th>
                        <td>{{ financeiro.adm_cel }}</td>
                    </tr>
                    <tr>
                        <th>Adm. Telefone</th>
                        <td>{{ financeiro.adm_phone }}</td>
                    </tr>
                    <tr>
                        <th>Enfermagem</th>
                        <td>{{ financeiro.enf_name }}</td>
                    </tr>
                    <tr>
                        <th>Enf. Email</th>
                        <td>{{ financeiro.enf_email }}</td>
                    </tr>
                    <tr>
                        <th>Enf. Celular</th>
                        <td>{{ financeiro.enf_cel }}</td>
                    </tr>
                    <tr>
                        <th>Enf. Telefone</th>
                        <td>{{ financeiro.enf_phone }}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot">
            <a href={{ url_for('site.financeiro_pedidos', register=financeiro.id )}} class="button {{ color_theme }}">Editar</a>
        </footer>
    </div>
</div>
{% endmacro %}
