<!DOCTYPE html>
<html lang="pt-br">

<head>
  {% set color_theme = config.get("COLOR_THEME", "is-success") %}
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doceriah</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
  {% block extra_scripts %} {% endblock extra_scripts %}

  {% endblock head %}
  {% block extra_css %} {% endblock extra_css %}
</head>
{% block nav %}
{% set color_theme = config.get("COLOR_THEME", is_primary) %}
<nav class="navbar {{ color_theme }}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ url_for('site.index') }}">
      <img src="{{ url_for('static', filename='img/logo.png')}}" width="112" height="28">
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  {% block menu %}
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ url_for('site.clientes') }}">
        Clientes
      </a>
      <a class="navbar-item" href="{{ url_for('site.financeiros') }}">
        Financeiro
      </a>

      <a class="navbar-item" href="{{ url_for('site.estoques') }}">
        Estoque
      </a>

      <a class="navbar-item" href="{{ url_for('site.register_sale') }}">
        Novo Pedido
      </a>
      <a class="navbar-item" href="{{ url_for('site.sales') }}">
        Historico de vendas
      </a>
      {% if current_user.is_admin %}
      <a class="navbar-item" href="{{ url_for('user.index_view') }}">
        Tela Administrativa
      </a>
      {% endif %}
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-light" id="bt-logout" href="{{ url_for('logout') }}">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endblock menu%}
</nav>
{% endblock nav %}
{% block top %} {% endblock top %}
<div class="main">

  <body class="body">
    {% block body %}
    {% endblock body %}
  </body>
</div>
<footer>
  {% block footer %}
  <footer class="footer">
    <div class="content has-text-left	is-size-6">
      <p>
        <strong>Doceriah</strong> desenvolvido por <a href="https://www.linkedin.com/in/uesleicarvalhoo/">Ueslei
          Carvalho</a>.
      </p>
    </div>
  </footer>
  {% endblock footer %}
</footer>

</html>