{% extends "base.html" %}
{% block menu %}
{% endblock menu %}

{% block body %}
    {% set color_theme = config.get("COLOR_THEME", "is-primary") %}
    {% from "macros/render_messages.html" import render_message %}
    {% from "macros/render_form.html" import render_field %}
    {{ render_message() }}

    <div class="column is-three-fifths is-offset-one-fifth">
        <form method="post">
            <dl>
                {{ render_field(form.username, icon="fa-user", class="input", type="text", placeholder="Usuario") }}
                {{ render_field(form.passwd, icon="fa-lock",class="input", type="password", placeholder="Senha") }}
            </dl>
            <p><input class="button {{ color_theme }} my-4" type="submit" value="Login"></p>
        </form>

    </div>
{% endblock body %}
