{% macro render_table_sales(order, button_delete=True) %}
<table class="table is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th></th>
            <th>Produto</th>
            <th>Unid.</th>
            <th>Qtd.</th>
            <th>Preço</th>
            <th>Sub Total</th>
            {% if button_delete %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in order %}
        <tr item_id="{{ item.id }}">
            <th>{{ loop.index }}</th>
            <td>{{ item.estoque.name }}</td>
            <td>{{ item.estoque.unity }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.estoque.price }}</td>
            <td>{{ item.estoque.price * item.amount }}</td>
            {% if button_delete %}
            <td><a class="button is-danger is-small")>Excluir</a></td>
            {% endif%}
        </tr>
        {% endfor %}
        <tr>
    </tbody>
</table>
{% endmacro %}