{% extends "base.html" %}
{% from "macros/render_messages.html" import render_message %}


{% block body %}
{{ render_message() }}
<form method="POST">
    {{ form.csrf_token }}
    <article class="panel {{ color_theme }}">
        <div class="panel-heading">Novo Cliente</div>
        <div class="form-body">

            <div class="field is-grouped">
                <div class="control is-expanded">
                    <label class="label"> {{ form.name.label }} </label>
                    <div class="control has-icons-left">
                        {{ form.name(class="input", type="text", placeholder="Nome") }}
                        <span class="icon is-smal is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control is-expanded">
                    <label class="label"> {{ form.address.label }} </label>
                    <div class="control has-icons-left">
                        {{ form.address(class="input", placeholder="Av. João N23") }}
                        <span class="icon is-left">
                            <i class="fas fa-address-card"></i>
                        </span>
                    </div>
                </div>
                <div class="control">
                    <label class="label"> {{ form.numero.label }} </label>
                    <div class="control">
                        {{ form.numero(class="input", placeholder="01") }}
                    </div>
                </div>
            </div>


            <div class="field is-grouped is-expanded">
                <div class="control">
                    <label class="label"> {{ form.district.label }} </label>
                    <div class="control">
                        {{ form.district(class="input", placeholder="Brotas") }}
                    </div>
                </div>
                <div class="control">
                    <label class="label"> {{ form.city.label }} </label>
                    <div class="control has-icons-left">
                        {{ form.city(class="input", placeholder="Salvador") }}
                        <span class="icon is-left">
                            <i class="fas fa-city"></i>
                        </span>
                    </div>
                </div>
                <div class="control">
                    <label class="label"> {{ form.estado.label }} </label>
                    <div class="control has-icons-left">
                        {{ form.estado(class="input", placeholder="Bahia") }}
                        <span class="icon is-left">
                            <i class="fas fa-city"></i>
                        </span>
                    </div>
                </div>
                <div class="control is-expanded">
                    <label class="label"> {{ form.complemento.label }} </label>
                    <div class="control has-icons-left">
                        {{ form.complemento(class="input", placeholder="Informação adicional") }}
                        <span class="icon is-left">
                            <i class="fas fa-city"></i>
                        </span>
                    </div>
                </div>
            </div>

            

            <div class="field is-grouped is-grouped-multiline">


                <div class="control">
                    <label class="label"> {{ form.cel.label }} </label>
                    <div class="field has-addons">
                        <div class="control">
                            <a class="button is-static">+55</a>
                        </div>
                        <div class="control">
                            {{ form.cel(class="input", type="text", placeholder="99999999999") }}
                        </div>
                    </div>
                </div>

                <div class="control">
                    <label class="label"> {{ form.email.label }} </label>
                    <div class="field has-addons">
                        <div class="control">
                            {{ form.email(class="input", type="email") }}
                        </div>
                    </div>
                </div>

                <div class="control">
                    <label class="label"> {{ form.aniversario.label }} </label>
                    <div class="field has-addons">
                        
                        <div class="control">
                            {{ form.aniversario(class="input", type="date", placeholder="01/01/2000") }}
                        </div>
                    </div>
                </div>

                
            </div>

            <div class="field is-grouped is-grouped-multiline">
                <div class="control is-expanded">
                    <label class="label"> {{ form.observacao.label }} </label>              
                        <div class="control">
                            {{ form.observacao( class="textarea", rows="10",placeholder="Campo de Observações") }}
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input class="button is-fullwidth is-success" type="submit" value="Salvar" > 
                    
                </div>
                <div class="control">
                    <a href="{{url_for('site.clientes')}}" class="button {{btn_voltar}}">Voltar</a>
                </div>
            </div>
        </div>
    </article>
</form>
{% endblock body %}