{% extends "base.html" %}
{% from "macros/render_messages.html" import render_message %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/carregar_pedidos.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% block body %}
{{ render_message() }}
<form method="POST">
    {{ form.csrf_token }}
    <article class="panel {{ color_theme }}">

        <div class="panel-heading">{{pedido.cliente.name}}</div>

        <div name="load" id={{pedido.pedidos_itens|length}}></div>
        <div name="pedido_id" id={{pedido.id}}></div>
        

        <div class="form-body">
            
           {% for pedido_item in pedido.pedidos_itens %}
           {{form.load(pedido_item)}}

           <div name="id_pedido-{{loop.index0}}" id={{pedido_item.id}}></div>
           <div class="field" id="item-{{loop.index0}}">

                <div class="field is-grouped">
                    <div class="control">
                        <label class="label"> {{ form.produto.label }} </label>
                            <div class="control">
                                <div class="select">
                                    {{ form.produto() }}
                                </div>
                            </div>
                    </div>
                

                    <div class="control is-expanded">
                        <label class="label"> {{ form.quantidade.label }} </label>
                        
                            <div class="control">
                                {{ form.quantidade(class="input", type="text", placeholder="") }}
                            </div>
                    </div>
                    <div class="control is-expanded">
                        <label class="label"> {{ form.descricao.label }} </label>
                    
                        <div class="control">
                            {{ form.descricao(class="input", type="text", placeholder="") }}
                        </div>
                    </div>
                    <div class="control is-expanded">
                        <label class="label"> {{ form.valor_unitario.label }} </label>
                    
                        <div class="control">
                            {{ form.valor_unitario(class="input", type="text", placeholder="Adicione o valor unitário", inputmode="numeric" ) }}
                        </div>
                    </div>
                    <div class="control is-expanded">
                        <label class="label"> {{ form.valor_total.label }} </label>
                    
                        <div class="control">
                            {{ form.valor_total(class="input", type="text", placeholder="Valor total", inputmode="numeric") }}
                        </div>
                    </div>
                </div>
            </div>
            
            {% endfor %}

            <div class="field" id="form_principal"></div>
             
 
            <div class="field is-grouped">
                
                <div class="control is-expanded">
                    <a class="button is-fullwidth is-info" id="novo_produto">Novo Item </a>
                </div>
                <div class="control is-expanded">
                    <a class="button is-fullwidth is-warning" id="excluir_item"> Excluir Item</a>
                </div>
            </div>


            

        </div>
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input class="button is-fullwidth is-success" type="submit" value="Salvar" > 
                    
                </div>
                <div class="control">
                    <a href="{{url_for('site.pedidos')}}"   class="button {{btn_voltar}}" >Voltar</a>
                </div>
            </div>
        </div>
    </article>
</form>
{% endblock body %}