{% extends "base.html" %}
{% from "macros/render_modal.html" import render_cliente_modal %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% block body %}
<article class="panel {{ color_theme }}">


    <div class="navbar {{ color_theme }}">

        <div class="navbar-start">
            <a class="navbar-item">
                <strong>Clientes</strong>
            </a>
        </div>

            <div class="navbar-end">
                <div class="buttons">
                <a href="{{url_for('site.form_cliente')}}" class="button is-success is-rounded">Cadastrar</a>
                <strong>   </strong>
                </div>
            </div>
    </div>   


    
    
    <div class="form-body" >
        <div class="panel-block" id="desaparecer">
            <div class="control is-expanded has-icons-left">
                <input class="input {{ color_theme}}" id="filtro" type="search" placeholder="Nome do Cliente">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <div class="select" >
                <select class="is-hovered" id="filtro_Mes">
                    <option> </option>
                    <option value="/01/">Janeiro</option>
                    <option value="/02/">Fevereiro</option>
                    <option value="/03/">Março</option>
                    <option value="/04/">Abril</option>
                    <option value="/05/">Maio</option>
                    <option value="/06/">Junho</option>
                    <option value="/07/">Julho</option>
                    <option value="/08/">Agosto</option>
                    <option value="/09/">Setembro</option>
                    <option value="/10/">Outubro</option>
                    <option value="/11/">Novembro</option>
                    <option value="/12/">Dezembro</option>
                </select>
            </div>
        </div>



        <div class="control">
            <table class="table is-fullwidth" id="tabela"> 
                <thead>
                <tr>
                    <th>Id</th>  
                    <th>Nome do Cliente</th>
                    <th>Aniversário</th>
                    <th>Telefone</th>
                    <th>Celular</th>
                    <th>Observação</th>
                    <th>Ações</th>
                </tr>
                </thead>

                <tbody>
                {% for cliente in clientes %}

                    <tr id={{ cliente.id }} >
                    <td width=10% ><b>Id: {{ cliente.id }} </b><p>
                        Cadastrado: {{ cliente.get_data_cadastro() }}
                    </td>
                    <th>{{ cliente.name.title() }}</th>
                    <td id="filtro_data">{{ cliente.get_aniversario() }}</td>
                    <td>{{ cliente.phone }}</td>
                    <td>{{ cliente.cel }}</td>
                    <td width=30% >{{ cliente.observacao }}</td>
                    <td>
                        <div class="control buttons">
                            <strong> <a class="button {{ color_theme }} is-small"
                                        href="{{ url_for('site.cliente', register= cliente.id ) }}">Editar</a>
                                        {% if current_user.is_admin %}
                                        <a class="button is-danger is-small remove">Excluir</a>
                                        {% endif %}
                            </strong>
                        </div>
                    </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    
</article>
{% endblock body%}