{% extends "base.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/exportar_excel.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% from "macros/render_messages.html" import render_message %}
{% block body %}
{{ render_message() }}

<article class="panel {{ color_theme }}">
    
    
    <div class="navbar {{ color_theme }}">

        <div class="navbar-start">
            <a class="navbar-item" >
                <strong>Financeiro - Registro Financeiro de Pedidos</strong>
              </a>
        </div>

            <div class="navbar-end">
                <div class="buttons">
                
                    <a href="{{url_for('site.financeiros')}}" class="button {{color_theme}} is-rounded">Financeiro - Pedidos</a>
                    <a href="{{url_for('site.contas')}}" class="button is-success is-rounded">Financeiro - Contas </a>
                    <a  class="button {{color_theme}} is-rounded">Pagamentos Pendentes</a>
                    <a  class="button {{color_theme}} is-rounded">Fluxo Caixa</a>
                <strong>   </strong>
            </div>
        </div>

        
    </div>

    <div class="panel-block" id="desaparecer">
        <div class="control is-expanded has-icons-left">
            <input class="input {{ color_theme}}" type="search" id="filtro" placeholder="Procure informação aqui">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
        
        <div>
            <input class="input" type="date" id="data_de">
        </div>

        

        <div>
            <input class="input" type="date" id="data_ate">
        </div>
        <strong>  </strong>
        <div class="navbar-end">
            <div id="" class="buttons">
            <a href="{{url_for('site.form_contas')}}" class="button is-success is-rounded">Cadastrar conta</a>
            <strong>   </strong>
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="table-container"  id="tabela_2">
            <table class="table is-striped is-fullwidth is-hoverable"  id="tabela">
                <thead>
                    <tr style="background-color: rgb(215, 215, 215);">
                        <th>Id</th>
                        <th>Data Vencimento</th>
                        <th>Recorrencia</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_financeiro in financeiros %}

                        <tr id={{ item_financeiro.id }}>
                        

                            <td> #{{item_financeiro.get_item()}} </td>
                            <td> {{item_financeiro.item.get_data_vencimento()}} </td>
                            <td> {{item_financeiro.item.recorrencia.tipo_mensalidade}} </td>
                            <td> {{item_financeiro.item.valor}}  </td>
                            <td> <b>Fornecedor:</b> {{item_financeiro.item.fornecedor}} <p>
                            <b>Descrição:</b> {{item_financeiro.item.descricao_conta}} <p>
                                
                                {% if item_financeiro.item.recorrencia.tipo_mensalidade == "Parcelado" %}
                                     
                                     Parcelas {{item_financeiro.item.parcelas_info.get_formato_parcela()}} 
                                     R$: {{item_financeiro.item.parcelas_info.valor_parcelas}}
                                {% elif item_financeiro.item.recorrencia.tipo_mensalidade == "Esporádico" %}
                                    {{item_financeiro.item.pagamento.status_pagamento_conta}} <p>     
                                {% else %}   
                                   <b> {{item_financeiro.item.recorrencia.tipo_mensalidade}} </b>      
                                {% endif %} 


                            </td>

                            <td >
                                <div class="control buttons" >
                                    <strong> <a class="button {{ color_theme }} is-small is-fullwidth"
                                                href="{{ url_for('site.financeiro', conta= item_financeiro.id_item ) }}">Editar</a>
                                                {% if current_user.is_admin %}
                                                <a class="button is-danger is-small is-fullwidth remove" >Excluir</a>
                                                {% endif %}

                                    </strong>
                                </div>
                             </td>
                        </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>


{% endblock body %}