{% extends "base.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% from "macros/render_messages.html" import render_message %}
{% block body %}
{{ render_message() }}

<article class="panel {{ color_theme }}">
    
    
    <div class="navbar {{ color_theme }}">

        <div class="navbar-start">
            <a class="navbar-item" >
                <strong>Financeiro - Contas a pagar</strong>
              </a>
        </div>

            <div class="navbar-end">
                <div class="buttons">
                
                    <a href="{{url_for('site.financeiro_pedidos')}}" class="button {{color_theme}} is-rounded">Pedidos</a>
                    <a href="{{url_for('site.contas')}}" class="button {{color_theme}} is-rounded">Contas </a>
                    <a  class="button is-success is-rounded">Pendentes Mês</a>
                    <a  href="{{url_for('site.fluxo')}}" class="button {{color_theme}} is-rounded">Fluxo Caixa</a>
                <strong>   </strong>
            </div>
        </div>

        
    </div>

    <div class="panel-block" id="desaparecer">
        <div class="control is-expanded has-icons-left">
            <input class="input {{ color_theme}}" type="search" id="filtro" placeholder="Procure informação aqui">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
        
        <div>
            <input class="input" type="date" id="data_de">
        </div>

        

        <div>
            <input class="input" type="date" id="data_ate">
        </div>
        <strong>  </strong>
        <div class="navbar-end">
            <div id="" class="buttons">
            <a href="{{url_for('site.form_contas')}}" class="button is-success is-rounded">Cadastrar conta</a>
            <strong>   </strong>
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="table-container"  id="tabela_2">
            <table class="table is-striped is-fullwidth is-hoverable"  id="tabela">
                <thead>
                    <tr style="background-color: rgb(215, 215, 215);">
                        <th onclick="sortTable(0)">Id</th>
                        <th onclick="sortTable(1)">Data Vencimento</th>
                        <th onclick="sortTable(2)">Recorrencia</th>
                        <th onclick="sortTable(3)">Valor</th>
                        <th onclick="sortTable(4)" style="width: 30%;">Descrição</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for conta in contas %}

                        <tr id={{ conta.id }}>
                        

                            <td> #{{conta.id}} </td>
                            <td>{{conta.get_data_vencimento()}}</td>
                            <td> {{conta.recorrencia.tipo_mensalidade}} </td>
                            {% if conta.recorrencia.tipo_mensalidade == "Parcelado" %}
                                <td> {{conta.parcelas_info[0].valor}}  </td>
                            {% else %}  
                            <td> {{conta.valor}}  </td>
                            {% endif %} 
                            <td>  <b>Fornecedor:</b> {{conta.fornecedor}} <p>
                                <b>Descrição:</b> {{conta.descricao}} <p>
                                {% if conta.recorrencia.tipo_mensalidade == "Parcelado" %}
                                        Parcela {{conta.get_formato_parcela()}}<p>
                                {% elif conta.recorrencia.tipo_mensalidade == "Variável" %}
                                    {{conta.status_pagamento_conta}} <p>     
                                {% else %}
                                <b> {{conta.recorrencia.tipo_mensalidade}} </b>
                                {% endif %}
                    </td>

                            <td >
                                <div class="control buttons" >
                                    <strong> <a class="button {{ color_theme }} is-small is-fullwidth"
                                                href="{{ url_for('site.status_pagamento_conta', conta= conta.id ) }}">Pagar</a>

                                    </strong>
                                </div>
                             </td>
                        </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>


{% endblock body %}