{% extends "base.html" %}
{% from "macros/render_modal.html" import render_doctor_modal %}
{% block body %}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Médicos</div>
    <div class="panel-block">
        <div class="field is-grouped ">
            <div class="control is-expanded has-icons-left">
                <input class="input {{ color_theme}}" type="search" placeholder="Nome do Médico">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <div class="control">
                <a href="{{url_for('site.form_doctor')}}" class="button {{ color_theme }}">Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="form-body">
        {% for doctor in doctors %}
        <a class="panel-block is-active show-modal">
            <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
            </span>
            <strong>{{ doctor.name.title() }}</strong>
            {{ render_doctor_modal(doctor) }}
        </a>
        {% endfor %}
    </div>
</article>
{% endblock body%}