{% extends "base.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/filtro.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% from "macros/render_messages.html" import render_message %}
{% block body %}
{{ render_message() }}

<article class="panel {{ color_theme }}">
    
    <div class="navbar {{ color_theme }}">

        <div class="navbar-start">
            <a class="navbar-item" >
                <strong>Gestão Pedido - Entregas Pendentes</strong>
              </a>
        </div>

            <div class="navbar-end">
                <div class="buttons">
                
                <a href="{{url_for('site.cozinha')}}" class="button {{color_theme}} is-rounded">Pedidos Cozinha</a>
                <a href="{{url_for('site.entregas')}}" class="button is-success is-rounded">Entregas Pendentes</a>
                <a href="{{url_for('site.pagamentos')}}" class="button {{color_theme}} is-rounded">Pagamentos Pendentes</a>
                <a href="{{url_for('site.pedidos')}}" class="button {{color_theme}} is-rounded">Todos os Pedidos</a>
                <strong>   </strong>
            </div>
        </div>

        
    </div>
    <div class="panel-block" id="desaparecer">
        <div class="control is-expanded has-icons-left">
            <input class="input {{ color_theme}}" type="search" id="filtro" placeholder="Procure informação aqui">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
        
        <div>
            <input class="input" type="date" id="data_de">
        </div>

        

        <div>
            <input class="input" type="date" id="data_ate">
        </div>
        <strong>  </strong>
        <div class="navbar-end">
            <div id="imprimir" class="buttons">
            <a class="button is-success is-rounded">Imprimir</a>
            <strong>   </strong>
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="table-container">
            <table class="table is-striped is-fullwidth is-hoverable"  id="tabela">
                <thead>
                    <tr style="background-color: rgb(215, 215, 215);">
                        <th>Id</th>
                        <th>Data Entrega</th>
                        <th>Nome do Cliente</th>
                        <th>Status entrega</th>
                        <th>Retirada</th>
                        <th>Status Pagamento</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <td> #{{pedido.id}} </td>
                            <td> {{pedido.get_data_entrega()}} às {{pedido.hora_entrega}}  </td>
                            <td> {{pedido.cliente.name}} </td>
                            <td> {{pedido.s_entrega.status_entrega}} </td>
                            <td> {{pedido.endereco_entrega}} </td>
                            <td> {{pedido.s_pagamento.status_pagamento}} </td>
                            <td >
                                <div class="control buttons" >
                                    <strong> <a class="button {{ color_theme }} is-small is-fullwidth"
                                                href="{{ url_for('site.status_entrega_pedido', pedido_id= pedido.id ) }}">Editar Status</a>
                                             
                                    </strong>
                                </div>
                             </td>
   
                        </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>


{% endblock body %}