{% extends "base.html" %}

{% block body %}
<article class="panel {{ color_theme }}">



    <div class="navbar {{ color_theme }}">
        <div class="navbar-item"><strong>Estoque</strong></div>

            <div class="navbar-end">
                <div class="buttons">
                <a href="{{url_for('site.form_estoque')}}" class="button is-success ">Cadastrar</a>
            </div>
        </div>
    </div>


    <div class="form-body">
        <div class="table-container">
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Produto</th>
                        <th>Unidade</th>
                        <th>Preço (R$)</th>
                        <th>Disponível</th>
                    </tr>
                </thead>
                {% for product in products %}
                <tr>
                    <th>{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.unity}}</td>
                    <td>{{"%.2f" % product.price}}</td>
                    <td>{{product.get_balance(product.id)}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</article>
{% endblock body %}