{% extends "base.html" %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/exportar_excel.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% from "macros/render_messages.html" import render_message %}
{% block body %}
{{ render_message() }}

<article class="panel {{ color_theme }}">
    
    
    <div class="navbar {{ color_theme }}">

        <div class="navbar-start">
            <a class="navbar-item" >
                <strong>Financeiro - Registro Financeiro de Pedidos</strong>
              </a>
        </div>

            <div class="navbar-end">
                <div class="buttons">
                
                    <a href="{{url_for('site.financeiros')}}" class="button is-success is-rounded">Financeiro - Pedidos</a>
                    <a href="{{url_for('site.contas')}}" class="button {{color_theme}} is-rounded">Financeiro - Contas </a>
                    <a href="{{url_for('site.pagamentos')}}" class="button {{color_theme}} is-rounded">Pagamentos Pendentes</a>
                    <a href="{{url_for('site.pedidos')}}" class="button {{color_theme}} is-rounded">Fluxo Caixa</a>
                <strong>   </strong>
            </div>
        </div>

        
    </div>

    <div class="panel-block" id="desaparecer">
        <div class="control is-expanded has-icons-left">
            <input class="input {{ color_theme}}" type="search" id="filtro" placeholder="Procure informação aqui">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
        
        <div>
            <input class="input" type="date" id="data_de">
        </div>

        

        <div>
            <input class="input" type="date" id="data_ate">
        </div>
        <strong>  </strong>
        <div class="navbar-end">
            <div id="gerar_excel" class="buttons">
            <a class="button is-success is-rounded">gerar excel</a>
            <strong>   </strong>
            </div>
        </div>
    </div>
    <div class="form-body">
        <div class="table-container"  id="tabela_2">
            <table class="table is-striped is-fullwidth is-hoverable"  id="tabela">
                <thead>
                    <tr style="background-color: rgb(215, 215, 215);">
                        <th>Id</th>
                        <th>Data Registro</th>
                        <th>Id item</th>
                        <th>Item</th>
                        <th>Tipo financeiro</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th>Data pagamento</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_financeiro in financeiros %}
                        <tr id={{ item_financeiro.id }}>
                            <td> #{{item_financeiro.get_item()}} </td>
                            <td> {{item_financeiro.item.get_data_pedido()}} </td>
                            <td> #{{item_financeiro.id_item}} </td>
                            <td> {{item_financeiro.tipo_item}} </td>
                            <td> {{item_financeiro.tipo_financeiro}}  </td>
                            <td> {{item_financeiro.item.valor}}  </td>
                            <td> {{item_financeiro.item.get_status_pagamento().status_pagamento}}  </td>
                            <td> {{item_financeiro.get_data_pagamento()}}  </td>
                            <td> {{item_financeiro.descricao}}  </td>

                        </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</article>


{% endblock body %}