{% extends "base.html" %}
{% from "macros/render_modal.html" import render_financeiro_modal %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% block body %}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Financeiro</div>
    <div class="panel-block">
        
    </div>
    <div class="form-body">
        {% for financeiro in financeiros %}
        <div class="field is-grouped" id={{ financeiro.id }}>
            <div class="control is-expanded">
                <a class="panel-block is-active show-modal">
                    <span class="panel-icon">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                    <strong>{{ financeiro.name.title() }}</strong>
                    {{ render_financeiro_modal(financeiro) }}
                </a>
            </div>
            <div class="control buttons">
                <strong>
                    <a class="button {{ color_theme }} is-small"
                        href="{{ url_for('site.financeiro', register= financeiro.id ) }}">Editar</a>
                    <a class="button is-danger is-small remove">Excluir</a>
                </strong>
            </div>
        </div>
        {% endfor %}

        <div class="field is-grouped">
            
            <div class="control">
                <a href="{{url_for('site.form_financeiro')}}" class="button {{ color_theme }}">Cadastrar</a>
            </div>
        </div>
    </div>
</article>
{% endblock body%}