{% extends "base.html" %}
{% block body%}
Tela para finalizar as vendas
<!--
                    <div class="field is-grouped is-grouped-multiline">
                        <div class="control is-expanded">
                        <label class="label">{{ form.register.label }}</label>
                        <div class="select">
                            {{ form.register() }}
                        </div>
                    </div>
                    <div class="control is-expanded">
                        <label class="label">{{ form.type_of_sale.label }}</label>
                        <div class="select">
                            {{ form.type_of_sale() }}
                        </div>
                    </div>
                    <div class="control">
                        <label class="label">{{ form.freight.label }}</label>
                        {{ form.freight(class="input") }}
                    </div>
                    <div class="control">
                        <label class="label">Total</label>
                        <a class="button {{color_theme}} is-outlined">R$ 0.00</a>
                    </div>
                </div>
-->

{% endblock body%}