{% extends "base.html" %}
{% from "macros/render_modal.html" import render_institution_modal %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% block body %}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Instituições</div>
    <div class="panel-block">
        <div class="field is-grouped">
            <div class="control is-expanded has-icons-left">
                <input class="input {{ color_theme}}" type="search" placeholder="Nome da Instituição">
                <span class="icon is-left">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </span>
            </div>
            <div class="control">
                <a href="{{url_for('site.form_institution')}}" class="button {{ color_theme }}">Cadastrar</a>
            </div>
        </div>
    </div>
    <div class="form-body">
        {% for institution in institutions %}
        <div class="field is-grouped" id={{ institution.id }}>
            <div class="control is-expanded">
                <a class="panel-block is-active show-modal">
                    <span class="panel-icon">
                        <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                    <strong>{{ institution.name.title() }}</strong>
                    {{ render_institution_modal(institution) }}
                </a>
            </div>
            <div class="control buttons">
                <strong>
                    <a class="button {{ color_theme }} is-small"
                        href="{{ url_for('site.institution', register= institution.id ) }}">Editar</a>
                    <a class="button is-danger is-small remove">Excluir</a>
                </strong>
            </div>
        </div>
        {% endfor %}
    </div>
</article>
{% endblock body%}