{% extends "base.html" %}

{% from "macros/render_messages.html" import render_message %}
{% block body %}
{{ render_message() }}
<article class="panel {{ color_theme }}">
    <div class="panel-heading">Historico de vendas</div>
    <div class="panel-block">
        <div class="control is-expanded has-icons-left">
            <input class="input {{ color_theme}}" type="search" placeholder="Nome do Médico/Instituição">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
    </div>
    <div class="form-body">
        <div class="table-container">
            <table class="table is-striped is-fullwidth is-hoverable">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Médico/Instituição</th>
                        <th>Vendedor</th>
                        <th>Valor total</th>
                        <th>Tipo de Pgto.</th>
                        <th>Tipo de venda</th>
                        <th>Data</th>
                    </tr>
                </thead>
                {% for sale in sales %}
                <tr>
                    <th>{{sale.id}}</th>
                    <td>{{sale.register.name}}</td>
                    <td>{{sale.user.name}}</td>
                    <td>{{"%.2f" % sale.get_total_amount()}}</td>
                    <td>{{sale.type}}</td>
                    <td>{{sale.type_pgto}}</td>
                    <td>{{sale.date}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</article>
{% endblock body %}