{% extends "base.html" %}
{% from "macros/render_modal.html" import render_cliente_modal %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/modals.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}" type="text/javascript"></script>
{% endblock extra_scripts %}

{% block body %}
<article class="panel {{ color_theme }}">


    <div class="navbar {{ color_theme }}">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('site.estoques') }}">
                Estoque
              </a>
            <a class="navbar-item" href="{{ url_for('site.produtos') }}">
              <strong>Produtos</strong>
            </a>
        </div>

            <div class="navbar-end">
                <div class="buttons">
                
                <a href="{{url_for('site.form_produto_entrada')}}" class="button is-success is-rounded">Entrada</a>
                <a href="{{url_for('site.form_produto_saida')}}" class="button is-danger is-rounded">Saída</a>
                <a href="{{url_for('site.form_produto')}}" class="button is-rounded">Cadastrar Produto</a>
                <strong>   </strong>
            </div>
        </div>
    </div>

    

    <div class="form-body" >

        <div class="control is-expanded has-icons-left">
            <input class="input {{ color_theme}}" id="filtro" type="search" placeholder="Pesquise na tabela">
            <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
            </span>
        </div>
 

        
            <table class="table is-fullwidth" id="tabela">     
                <thead>
                    <tr>
                        <th>Data Cadastro</th>
                        <th>Nome do Produto</th>
                        <th>Grupo</th>
                        <th>Fornecedores</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                    
                    
                        <tr id={{ produto.id }}>
                            <td>{{ produto.get_data_cadastro()}}</td>
                            <th>{{ produto.nome_produto.title() }}</th>
                            <td>{{ produto.get_grupo(produto.id)}}</td>
                            
                            <td >
                                {% for item in produto.fornecedor %}
                                    <p><b>{{item.nome_fornecedor}}:</b> R$: {{item.valor}}
                                {% endfor %}      
                            </td>
                            <td width="20%">
                                <div class="control buttons">
                                    <strong> <a class="button {{ color_theme }} is-small"
                                                href="{{ url_for('site.produto', register= produto.id ) }}">Editar</a>
                                               
                                            <a class="button is-danger is-small remove">Excluir</a>
                                            <a class="button is-small is-fullwidth"
                                            href="{{ url_for('site.fornecedores', produto= produto.id ) }}">Fornecedores</a>
                                    </strong>
                                </div>
     
                            </td>
                        </tr>     
                    

                    {% endfor %}
                </tbody>
            </table>
        
    </div>

    </div>
</article>
{% endblock body %}